source [find interface/stlink.cfg]
source [find target/stm32f1x.cfg]
transport select hla_swd
adapter speed 400
init
reset halt

# STM32F1 Option Byte Programming - Standard Method:
# Unlock FLASH
mww 0x40022004 0x45670123
mww 0x40022004 0xCDEF89AB
# Set OPTWRE (Flash option enable) - bit 9
mww 0x40022010 0x00000200
# Unlock OPTKEYR
mww 0x40022008 0x45670123
mww 0x40022008 0xCDEF89AB
# Program option bytes: nBOOT1=0, nBOOT0=0 (force Main Flash boot)
mww 0x1FFFF800 0x00FF1AA5
# Wait BSY
sleep 200
# Lock FLASH
mww 0x40022010 0x00000080

reset halt
mdw 0x1FFFF800 4
shutdown
